"Write AngularJS program to design form
using various controls and apply
validations on input fields. Display the form data on submission. "
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>AngularJS Form Validation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="FormController">
    <h2>Registration Form</h2>
    <form name="registrationForm" ng-submit="submitForm()" novalidate>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" ng-model="user.name" required>
        <span ng-show="registrationForm.name.$touched && registrationForm.name.$invalid">Name is required.</span>
        <br><br>   
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" ng-model="user.email" required>
        <span ng-show="registrationForm.email.$touched && registrationForm.email.$invalid">Valid email is required.</span>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" ng-model="user.password" required>
        <span ng-show="registrationForm.password.$touched && registrationForm.password.$invalid">Password is required.</span>
        <br><br>
        <button type="submit" ng-disabled="registrationForm.$invalid">Submit</button>
    </form>
    <h3>Form Data:</h3>
    <pre>{{ user | json }}</pre>    
    <script>
        angular.module('myApp', [])
            .controller('FormController', ['$scope', function($scope) {
                $scope.user = {};
                
                $scope.submitForm = function() {
                    if ($scope.registrationForm.$valid) {
                        alert('Form submitted successfully!');
                    }
                };
            }]);
    </script>
</body>
</html> 